# Eclipse IDE files
*.classpath
*.factorypath
*.loadpath
*.project
*.metadata/
*.settings/

# VS Code files
*.vscode/

# META-INF folder
**/META-INF/

# Maven build folder
**/target/

# Java build folder
**/bin/

# Compiled java files
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
